    .cursor-pointer {
        cursor: pointer;
    }
    
    .overflow-x {
        overflow-x: auto;
    }
    
    .overflow-y {
        overflow-x: auto;
    }
    
    .border-radius-50 {
        border-radius: 50%;
    }


    /* Caja de subir imagenes */
    
    .drop-box {
        border: 3px dashed #DDD;
        width: 100%;
        height: 50%;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .drop-box:hover {
        background-color: rgb(255, 255, 255);
    }
    
    .dragover {
        border: 4px dashed rgb(199, 199, 218);
        background-color: rgb(246, 247, 255);
    }
    
    .drop-box-small {
        height: 80px;
        width: 80px;
        border: 3px dashed #DDD;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .drop-box-small:hover {
        background-color: rgb(255, 255, 255);
    }
    
    .box-principal-img {
        padding: 0px;
        height: 300px;
        width: auto;
        margin-bottom: 10px;
        text-align: center;
        border: 1px solid lightgray;
        background-color: #dad7d747;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .slide-box-image {
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .image-responsive {
        max-width: 100%;
        max-height: 100%;
    }
    
    .box-img {
        height: 90px;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .box-mask:hover .text-on-box {
        opacity: 0.5;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: #000000;
        padding: 10px;
        color: #fff;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }
    
    .text-on-box {
        color: white;
        z-index: -1;
        position: absolute;
        text-align: center;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .text-on-box p {
        cursor: pointer;
    }
    
    .text-on-box p:hover {
        color: red;
    }
    
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 500px;
        height: 350px;
    }

    /* Validacion de campo */

    .form-animal-register .ng-touched.ng-invalid, .formAdopcion .ng-touched.ng-invalid, .form_modify_animal .ng-touched.ng-invalid{
        border: 1px dotted red;
    }

    .form-animal-register .ng-valid, .formAdopcion .ng-valid, .form_modify_animal .ng-valid{
        border: 1px dotted rgb(0, 255, 64);
    }

    .symbol-required{
        content: "*";
        display: inline;
        color: #E6674A;
    }

    .lds-spinner {
        color: official;
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-spinner div {
        transform-origin: 32px 32px;
        animation: lds-spinner 1.2s linear infinite;
      }
      .lds-spinner div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 29px;
        width: 5px;
        height: 14px;
        border-radius: 20%;
        background: black;
      }
      .lds-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
      }
      .lds-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
      }
      .lds-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
      }
      .lds-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
      }
      .lds-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
      }
      .lds-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
      }
      .lds-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
      }
      .lds-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
      }
      .lds-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
      }
      .lds-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
      }
      .lds-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
      }
      .lds-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
      }
      @keyframes lds-spinner {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }