<nav class="navbar fixed-top p-0 col-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
    <div class="navbar-menu-wrapper d-flex align-items-center">
        <div class="nav-item bt-toggle-menu" id="bt-toggle-menu">
            <a href>
                <i class="fa fa-list fa-2x"></i>
            </a>
        </div>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown">
                <a class="nav-link count-indicator" ui-sref="Dashboard.Solicitudes" ng-controller="solicitudAdopcionController as solCtrl">
                    <i class="fa fa-bell" ng-init="solCtrl.obtenerListaSolicitudes();"></i>
                    <span ng-show="solCtrl.listaSolicitudes.length > 0" class="count" ng-bind="solCtrl.listaSolicitudes.length"></span>
                </a>
            </li>

            <!-- <li class="nav-item dropdown">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href data-toggle="dropdown" ng-controller="solicitudAdopcionController as solCtrl">
                    <i class="fa fa-bell" ng-init="solCtrl.obtenerListaSolicitudes();"></i>
                    <span ng-show="solCtrl.listaSolicitudes.length > 0" class="count" ng-bind="solCtrl.listaSolicitudes.length"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                    <a class="dropdown-item">
                        <p class="mb-0 font-weight-normal float-left">
                            Solicitudes de adopción
                        </p>
                        <span class="badge badge-pill badge-warning float-right">
                            Ver todo
                        </span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-success">
                                <i class="fa fa-user mx-0"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <h6 class="preview-subject font-weight-medium">Marlon Conrado</h6>
                            <p class="font-weight-light small-text">
                                2018/08/09 02:02:02
                            </p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-success">
                                <i class="fa fa-user mx-0"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <h6 class="preview-subject font-weight-medium">Roberto Restrepo</h6>
                            <p class="font-weight-light small-text">
                                2018/08/09 02:02:02
                            </p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-success">
                                <i class="fa fa-user mx-0"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <h6 class="preview-subject font-weight-medium">Neider Galofre</h6>
                            <p class="font-weight-light small-text">
                                2018/08/09 02:02:02
                            </p>
                        </div>
                    </a>
                </div>
            </li> -->

            <li class="nav-item dropdown">
                <a class="nav-link count-indicator dropdown-toggle" id="userDropdown" href data-toggle="dropdown">
                    <i class="fa fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="userDropdown">
                    <a class="dropdown-item" ng-click="lc.logout();">
                        <p class="mb-0 font-weight-normal float-left">
                            <i class="fa fa-sign-out-alt"></i> Cerrar sesión
                        </p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>