
<nav class="sidebar d-md-block fixed-top col-10 col-sm-4 col-md-3 col-lg-3 col-xl-2" id="sidebar">
    <ul class="nav" ng-controller="gestionAnimalCtrl as ctr">
        <li class="nav-item itemClose nav-profile">
            <img src="images/logo_main.svg" alt="image" class="img-fluid" />
            <span class="online-status online"></span>
        </li>
        <li class="nav-item itemClose">
            <a class="nav-link" ui-sref="Inicio">
                <img class="menu-icon" src="images/menu_icons/01.png" alt="menu icon">
                <span class="menu-title">Inicio</span>
            </a>
        </li>
        <li class="nav-item itemClose">
            <a class="nav-link" href ui-sref="animales">
                <img class="menu-icon" src="images/menu_icons/02.png" alt="menu icon">
                <span class="menu-title">Lista animales</span>
            </a>
        </li>
        <li class="nav-item itemClose">
            <a class="nav-link" href ui-sref="historias">
                <img class="menu-icon" src="images/menu_icons/06.png" alt="menu icon">
                <span class="menu-title">Historias médicas</span>
            </a>
        </li>
        <li class="nav-item itemClose">
            <a class="nav-link" ui-sref="Solicitudes">
                <img class="menu-icon" src="images/pic-4.png" alt="menu icon">
                <span class="menu-title">Solicitudes</span>
            </a>
        </li>
        <li class="nav-item itemClose">
            <a class="nav-link" ng-click="ctr.onSolicitarAdopcion(null);" href ui-sref="adopcion">
                <img class="menu-icon" src="images/menu_icons/07.png" alt="menu icon">
                <span class="menu-title">Adopción</span>
            </a>
        </li>
        <li class="nav-item itemClose">
            <a class="nav-link" href ui-sref="registro_animal">
                <img class="menu-icon" src="images/menu_icons/04.png" alt="menu icon">
                <span class="menu-title">Registrar</span>
            </a>
        </li>
        <li class="nav-item itemClose">
            <a class="nav-link" href ui-sref="Reportes">
                <img class="menu-icon" src="images/menu_icons/05.png" alt="menu icon">
                <span class="menu-title">Reportes</span>
            </a>
        </li>
        <!-- <li class="nav-item">
                                    <a class="nav-link" href="pages/ui-features/buttons.html">
                                        <img class="menu-icon" src="images/menu_icons/03.png" alt="menu icon">
                                        <span class="menu-title">Buttons</span>
                                    </a>
                                </li> -->

        <!-- <li class="nav-item">

            <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages"> <img class="menu-icon" src="images/menu_icons/08.png" alt="menu icon"> <span class="menu-title">General Pages</span><i class="menu-arrow"></i></a>
            <div class="collapse" id="general-pages">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html">Blank Page</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html">Login</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html">Register</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html">404</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html">500</a></li>
              </ul>
            </div>
          </li> -->
        <!-- 
          <li class="nav-item"><a class="nav-link" href="pages/ui-features/typography.html"><img class="menu-icon" src="images/menu_icons/09.png" alt="menu icon"> <span class="menu-title">Typography</span></a></li>
          <li class="nav-item purchase-button"><a class="nav-link" href="https://www.bootstrapdash.com/product/star-admin-pro/" target="_blank">Get full version</a></li> -->
    </ul>
</nav>