<div id="app" class="container-scroller">

    <div class="container-fluid page-body-wrapper" ng-controller="gestionAnimalCtrl as ct">
        <div class="main-panel" ng-init="ct.onSolicitarAdopcion();">
            <div class="content-wrapper">

                <section>
                    <h1 class="text-center text-gray">Solicitud de adopcion</h1>
                    <br>
                    <br>
                </section>

                <!-- <form>

                    <div class="container-fluid">
                        <div class="row">
                            <div ng-repeat="campo in ct.campos_adopcion" class="form-group {{campo.col}}">
                                <label for="{{campo.name}}">{{campo.nombre}}</label>
                                <input name="{{campo.name}}" type="{{campo.type}}" class="form-control {{campo.class}}" placeholder="{{campo.placeholder}}"
                                    required="{{campo.required}}" ng-bind="{{campo.value}}">
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-primary float-left">Cancelar</button>
                            <button class="btn btn-success float-right">Aceptar</button>
                        </div>
                    </div>

                </form> -->
                <div class="card">
                    <div class="card-body">
                        <wizard current-step-number="currentStepNumber" submit="submit()" class="container">
                            <wizard-step title="Animal" entered="stepEntered()">
                                <h3>¿Cual es el animal?</h3>

                                <div class="form-group" ng-init="animal = true">
                                    <label for="codigo_animal">{{campo.nombre}}</label>
                                    <input type="text" name="codigo_animal" class="form-control form-control text-center" ng-model="ct.adopcion.codigo_animal"
                                        required placeholder="Código del animal" ng-blur="ct.onBuscarAnimal(ct.adopcion.codigo_animal);"
                                    />
                                </div>
                                <div ng-if="ct.informacion_animal.codigo == null">
                                    <span class="text-danger" ng-bind="ct.informacion_animal.error"></span>
                                </div>
                                <div ng-if="ct.informacion_animal.codigo != null" class="row">
                                    <div class="col-sm-6">
                                        <image src="{{ct.informacion_animal.imagen}}">
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-gray">
                                            <span class="h3">
                                                <strong>Nombre: </strong>
                                            </span>
                                            <span class="h4" ng-bind="ct.informacion_animal.nombre"></span>
                                        </p>
                                        <p class="text-gray">
                                            <span class="h3">
                                                <strong>Especie: </strong>
                                            </span>
                                            <span class="h4" ng-bind="ct.informacion_animal.especie"></span>
                                        </p>
                                        <p class="text-gray">
                                            <span class="h3">
                                                <strong>Sexo: </strong>
                                            </span>
                                            <span class="h4" ng-bind="ct.informacion_animal.sexo"></span>
                                        </p>
                                        <p class="text-gray">
                                            <span class="h3">
                                                <strong>Raza: </strong>
                                            </span>
                                            <span class="h4" ng-bind="ct.informacion_animal.raza"></span>
                                        </p>
                                        <p class="text-gray">
                                            <span class="h3">
                                                <strong>Peso: </strong>
                                            </span>
                                            <span class="h4" ng-bind="ct.informacion_animal.peso"></span>
                                        </p>
                                    </div>
                                </div>

                            </wizard-step>
                            <wizard-step title="Adoptante" required-step-number="0" entered="stepEntered()">
                                <h3>Datos de la persona adoptante</h3>
                                <small>Todos los campos son obligatorios.</small>
                                <br>
                                <br>
                                <form name="formAdopcion">
                                    <!-- <div class="container"> -->
                                    <!-- <div class="row">
                                    <div ng-repeat="campo in ct.campos_adopcion" class="form-group {{campo.col}}">
                                        <label for="{{campo.name}}">{{campo.nombre}}</label>
                                        <input name="{{campo.name}}" type="{{campo.type}}" class="form-control {{campo.class}}" ng-model="dato" required placeholder="{{campo.placeholder}}">
                                    </div>
                                </div> -->
                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <label for="identificacion">Identificacion</label>
                                            <br>
                                            <input type="number" id="Identificacion" class="form-control " ng-model="ct.adopcion.identificacion" placeholder="Identificacion del adoptante"
                                                required>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="nombre">Nombre</label>
                                            <br>
                                            <input type="text" id="nombre" class="form-control" ng-model="ct.adopcion.nombre" placeholder="Nombre del adoptante" required>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="apellidos">Apellidos</label>
                                            <br>
                                            <input type="text" id="apellidos" class="form-control" ng-model="ct.adopcion.apellido" placeholder="Apelldos del adoptante"
                                                required>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="telefono">Teléfono</label>
                                            <br>
                                            <input type="number" id="telefono" class="form-control" ng-model="ct.adopcion.telefono" placeholder="Telefono de contacto"
                                                required>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="correo">Correo</label>
                                            <br>
                                            <input type="email" id="correo" class="form-control" ng-model="ct.adopcion.correo" placeholder="correo de contacto" required>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="ciudad_residencia">Ciudad</label>
                                            <br>
                                            <input type="text" id="ciudad_residencia" class="form-control" ng-model="ct.adopcion.ciudad" placeholder="Ciudad de residencia"
                                                required>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="direccion">Direccion</label>
                                            <br>
                                            <input type="text" id="direccion" class="form-control" ng-model="ct.adopcion.direccion" placeholder="Direccion de residencia"
                                                required>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="ocupacion">Ocupación</label>
                                            <br>
                                            <input type="text" id="ocupacion" class="form-control" ng-model="ct.adopcion.ocupacion" placeholder="Ocupacion" required>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="empresa">Empresa</label>
                                            <br>
                                            <input type="text" id="empresa" class="form-control" ng-model="ct.adopcion.empresa" placeholder="Lugar donde labora" required>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="ciudad_de_empresa">Ciudad de la empresa</label>
                                            <br>
                                            <input type="text" id="ciudad_de_empresa" class="form-control" ng-model="ct.adopcion.ciudad_empresa" placeholder="Ciudad de la empresa"
                                                required>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label for="telefono_de_oficina">Teléfono de oficina</label>
                                            <br>
                                            <input type="number" id="telefono_de_oficina" class="form-control" ng-model="ct.adopcion.telefono_oficina" placeholder="Teléfono laboral"
                                                required>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                </form>
                            </wizard-step>
                            <wizard-step title="Confirmacion" required-step-number="1" entered="stepEntered()">
                                <h3>Confirma todos los datos</h3>
                                <br>
                                <br>
                                <p>Codigo del animal: {{ct.adopcion.codigo_animal}}</p>
                                <p>Nombre completo del adoptante: {{ct.adopcion.nombre + " " + ct.adopcion.apellido}}</p>
                                <p>Identificacion: {{ct.adopcion.identificacion}}</p>
                                <p>Telefono: {{ct.adopcion.telefono}}</p>
                                <p>Correo: {{ct.adopcion.correo}}</p>
                                <p>Ocupacion: {{ct.adopcion.ocupacion}}</p>
                                <p>Empresa: {{ct.adopcion.empresa}}</p>
                                <!-- <input type="checkbox" ng-model="treminos" required> Acepto terminos y condiciones -->
                                <div class="form-check form-check-flat">
                                    <label class="form-check-label">
                                        <input type="checkbox" ng-model="treminos" class="form-check-input" required> Acepta terminos y condiciones
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </wizard-step>
                        </wizard>

                    </div>
                </div>

                <!-- <form>
                    <div class="container-fluid">
                        <div class="row">
                        
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-primary">Cancelar</button>
                            </div>
                            <div class="col-5">
                                <button class="btn btn-success float-right">Registrar</button>
                            </div>
                        </div>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</div>