<div id="app" class="container-scroller">

    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">

                <section class="page-title">
                    <h2 class="text-gray text-center">Historias Medicas</h2>
                </section>

                <div ng-if="ctrl.mostrar">
                    <span class="btn btn-success mb-2" ng-click="ctrl.modal(null, 'success');">
                        <i class="fa fa-plus"></i> Nuevo
                    </span>
                    <div class="overflow-x">
                        <table class="table table-condensed table-bordered  text-center table-hover">
                            <thead class="table-active">
                                <tr>
                                    <th>#Código</th>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Raza</th>
                                    <th>Sexo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="animal in ctrl.animales" ng-click="ctrl.modal(animal, 'primary');" ng-mouseenter="cssmodal = true" ng-mouseleave="cssmodal = false"
                                    ng-class="{'table-success':cssmodal, 'cursor-pointer':cssmodal}">
                                    <td>{{$index}}</td>
                                    <td>
                                        <img src="{{animal.imagen}}" class="img-fluid rounded" width="80">
                                    </td>
                                    <td>{{animal.nombre}}</td>
                                    <td>{{animal.raza}}</td>
                                    <td>{{animal.sexo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>