<div id="app" class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
    
                    <section class="page-title mb-20 text-gray">
                        <h2 class="text-gray text-center">Reportes</h2>
                    </section>
                    
                    <ul>
                        <li>
                            <a class="h4" href ng-click="">Reporte de animales</a>
                        </li>
                        <br>
                        <li>
                            <a class="h4" href ng-click="">Reporte de Adopciones</a>
                        </li>
                        <br>
                        <li>
                            <a class="h4" href ng-click="">Reporte de Solicitudes</a>
                        </li>
                        <br>
                        <li>
                            <a class="h4" href ng-click="">Reporte medico</a>
                        </li>
                    </ul>
                    
                    
                </div>	
            </div>
        </div>
    </div>