<div id="app" class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper" ng-controller="solicitudAdopcionController as solCtrl">
                <section class="page-title" ng-init="solCtrl.obtenerListaSolicitudes();">
                    <h2 class="text-gray text-center">Solicitudes de adopción</h2>
                </section>
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-8">
                        <a class="btn btn-inverse-primary btn-rounded btn-fw mb-2 float-left" href ng-click="solCtrl.obtenerListaSolicitudes();">
                            <i class="fa fa-redo"></i> Refrescar
                        </a>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 input-group-icon">
                        <div class="icon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <input type="search" name="buscar_animal" ng-model="buscar_solicitud" placeholder="Buscar" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Buscar'" class="single-input btn btn-rounded btn-inverse-light w-100">
                    </div>
                    <div class="col-12 overflow-x mt-2">
                        <table class="table table-condensed table-bordered  text-center table-hover">
                            <thead class="table-active">
                                <tr>
                                    <th>Referencia</th>
                                    <th>Solicitante</th>
                                    <th>Fecha Solicitado</th>
                                    <th>Dias Restantes</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="solicitud in solCtrl.listaSolicitudes | orderBy: solicitud.restantes | filter: buscar_solicitud " ng-click="solCtrl.modal(solicitud);" ng-mouseenter="cssmodal = true"
                                    ng-mouseleave="cssmodal = false" ng-class="{'table-success':cssmodal, 'cursor-pointer':cssmodal}">
                                    <td>
                                        <span class="count-table-item" ng-class="{'bg-info':solicitud.estado == 'Solicitado', 'bg-danger':solicitud.estado == 'Rechazada', 'bg-success':solicitud.estado == 'Aceptada'}"></span>
                                        <span ng-bind="solicitud.referencia"></span>
                                    </td>
                                    <td ng-bind="solicitud.nombre_adoptante"></td>
                                    <td ng-bind="solicitud.fecha_solicitud"></td>
                                    <td>
                                        <p ng-if="solicitud.estado != 'Solicitado'">--</p>
                                        <p ng-if="solicitud.estado == 'Solicitado'">
                                            <span ng-if="solicitud.restantes < 0" ng-bind="'Retrasado ' + (solicitud.restantes * 1)"></span>
                                            <span ng-if="solicitud.restantes > 0" ng-bind="solicitud.restantes"></span>
                                        </p>
                                    </td>
                                    <td ng-bind="solicitud.estado"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <h4 class="text-center pt-5 text-gray" ng-bind="solCtrl.mensaje"></h4>
                        </div>
                    </div>

                    <section class="container">
                        <p class="text-gray small">Solicitada.
                            <span class="count-table-item bg-info mt-1 mr-2"></span>
                        </p>
                        <p class="text-gray small">Rechazada.
                            <span class="count-table-item bg-danger mt-1 mr-2"></span>
                        </p>
                        <p class="text-gray small">Aceptada.
                            <span class="count-table-item bg-success mt-1 mr-2"></span>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>